<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="pl.solidexplorer2" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/symbolv1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/symbolv1"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuckSolidExplorer">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Premium features and ad-block for Solid Explorer" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
        <meta-data
            android:name="xposedmoduleentry"
            android:value="dev.fzer0x.fucksolidexplorer.XposedInit" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FuckSolidExplorer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>